.gpt3__features-container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.gpt3__features-container__feature-title {
  flex: 1;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.gpt3__features-container__feature-title h1 {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.gpt3__features-container__feature-title div {
  width: 80px;
  height: 3px;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.3rem;
}

.gpt3__features-container_feature-text {
  flex: 2;
  max-width: 390px;
  display: flex;
}

.gpt3__features-container_feature-text p {
  font-family: var(--font-alt);
  color: gray;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 14px;
}

@media screen and (max-width: 550px) {
  .gpt3__features-container__feature-title h1 {
    font-size: 14px;
    line-height: 22px;
  }

  .gpt3__features-container_feature-text p {
    font-size: 12px;
    line-height: 20px;
  }

  .gpt3__features-container__feature {
    margin: 1rem 0;
  }
}
